
.xaxis path {
  fill: none;
  stroke: #000;
}

.xaxis line {
  stroke: #000;
}


.mycircle {
  fill: blue;
  stroke: white;
}

.mycircle:hover {
  stroke-width: 3px;
  fill-opacity: 0.5;
  stroke-opacity: 0.5;
}


.tooltip { 
    position: absolute;     
    text-align: center;     
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

.svg-canvas {
  background-color: #eaeaea;
  margin: auto;
  display: block;
}

/* responsive svg */

p {
    /*display: inline-block;*/
    position: relative;
    /*width: 100%;*/
    /*padding-bottom: 100%;*/ /* aspect ratio */
    vertical-align: top;
    /*overflow: hidden;*/
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}