<div class="board">


  <div
  *ngFor="let column of ['todo', 'doing', 'done']"
  cdkDropList
  id="{{column}}"
  [cdkDropListData]="kanban_data[column]"
  [cdkDropListConnectedTo]="columnMappings[column]"
  class="column todo"
  (cdkDropListDropped)="drop($event)">
  <h3>{{column}} [{{kanban_data[column].length}}]</h3>
  <div class="card todo" *ngFor="let item of kanban_data[column]" cdkDrag
  (click)="editKabanTicket(item)">
    {{checks_id_map[item].comment}}
    
    <div class="assignee">
      <app-avatar
        [user] = "checkers?.get(checks_id_map[item].checker)">
      </app-avatar>
    </div>
</div>

<app-check-stack *ngIf="checkActive"
                 [stackToBeChecked] = "displayedStack"
                 [checkToBeUpdated] = "editedCheck"
                 [checkDate]        = "checkPeriodDate"
                 [checkers]         = "checkers"
                 (onStackChecked)   = "OnCheckCompleted($event[0])"
                 (onCheckAborted)   = "OnCheckAborted($event[0])">
</app-check-stack>

</div>


