.board {
  display: flex;
  justify-content: space-around;
}

.board .column {

  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  min-width: 200px;
}

.column > h3 {
  text-align: center;
  border-bottom: #ccc 1px solid;
  padding-bottom: 10px;
  margin-top: 5px;
}


.board .card {
  height: 150px;
  width:  200px;
  position: relative;

  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.card .assignee {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card.todo {
  background-color: grey;
}

.card.doing {
  background-color: yellow;
}

.card.done {
  background-color: green;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}