.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.front_version,
.back_version {
  flex: 1 1 0%;
  overflow-y: auto;
}

.about h3 {
  margin-left: 20px;
}

.about ul {
  padding-left:0;
}

.collapsible_list li > label {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.collapsible_list li {
  list-style: none;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  background: #e1e1e14d;
  opacity: 0.8;
}

.collapsible_list li:nth-child(odd) { 
  background: #c2c2c2;
  opacity: 0.8;
}

.collapsible_list li:hover {
  opacity: 1;
}

/* CSS only collapsible list*/
.collapsible_list li > label:hover {
  text-decoration: underline; 
}

.collapsible_list li > input {
  visibility: hidden;
}

.collapsible_list li > input + * {
 display: none;
}

.collapsible_list li > input:checked + * {
  display: block;
}

