
<div class="about">
  <app-navbar></app-navbar> 
  <h2>Versions</h2>
  <div class="front_version">
    <h3> Frontend: {{front_latest_version}} </h3>
    <ul class="collapsible_list" >
      <li *ngFor="let log of front_changelog">
        <label for={{log.version}}>v{{log.version}} - {{log.date}}</label>
        <input type="checkbox" id={{log.version}} 
        [ngClass]="{checked : true}"/>
        <p [innerHTML]=log.formatted></p>
      </li>
    </ul>
  </div>

  <div class="back_version">
    <h3> Backend: {{back_latest_version}} </h3>
    <ul class="collapsible_list" >
      <li *ngFor="let log of backChangelog">
        <label for={{log.version}}>{{log.version}} - {{log.date}}</label>
        <input type="checkbox" id={{log.version}} 
        [ngClass]="{checked : true}"/>
        <p [innerHTML]=log.formatted></p>
      </li>
    </ul>
  </div>

</div>
