<div class="editable_text">
  <div class="edition_inactive" *ngIf="!edition" (mouseenter)="edit_visible = true" (mouseleave)="edit_visible = false">
    <p [innerHTML]="formattedText"></p>
    <a href="javascript:" (click)="toggle();$event.stopPropagation()" *ngIf="edit_visible && isEditable">{{editLabel}}</a>
  </div>
  <div class="edition_active" *ngIf="edition" >
    <textarea class="form-control" rows="{{textarea_row_nb}}" [(ngModel)]="editableText" (click)="$event.stopPropagation()"> </textarea>
    <a class="ok"     href="javascript:" (click)="toggle();$event.stopPropagation()">{{okLabel}}</a>
    <a class="cancel" href="javascript:" (click)="cancel();$event.stopPropagation()">{{cancelLabel}}</a>
  </div>
</div>
