ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7e7575;
}

li {
    float: left;
}

li.menu_right {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}


li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.notification {

  background-image: url("/assets/resources/ic_notifications_none_black_24dp/web/ic_notifications_none_black_24dp_1x.png");
  background-repeat: no-repeat;
  display: block;

  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}


/* dropdown menu */
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    margin-top: -25px;
    margin-left: -60px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: white !important;
  color:red;
}

.dropdown:hover .dropdown-content {
    display: block;
}






.login {
  padding: 15px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.login .bottom {
  display: flex;
  justify-content:space-between;
}

.login .bottom .create {

  margin-top: 20px;
}

.addastack {
  position: relative;
}



.navbar-container {
  width: 100%;
  margin-left:  auto;
  margin-right: auto;
  width: auto;
  /*min-height: 100%;*/

  background-color: #999;

  -webkit-box-shadow: 0 0px 10px -1px #777;
  -moz-box-shadow:    0 0px 10px -1px #777;
  box-shadow:         0 0px 10px -1px #777;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
