<div class="navbar-container">

  <ul class="menu">
    <li>
      <a routerLink="/dashboard" class="brand">yopStack</a>
    </li>
<!--     <li [ngClass]="{active : isActive('/user')}" *ngIf="global.authenticated">
      <a routerLink="/user">search user</a>
    </li> -->


    <li class="dropdown menu_right" [ngClass]="{active : isActive('/notification')}" *ngIf="global.authenticated">
        <!-- <a href="javascript:void(0)" class="dropbtn">{{global.authenticatedUser?.name}}</a> -->
        <app-avatar
          [user] = "global.authenticatedUser">
        </app-avatar>
        <div class="dropdown-content">
          <a routerLink="/profile">Profile</a>    
          <a routerLink="/about">About</a>
          <a routerLink="/logout">Logout</a>      
        </div>
    </li>
    <li class="notification menu_right" [ngClass]="{active : isActive('/notification')}" *ngIf="global.authenticated">
      <a routerLink="/notification"></a>
    </li>
  </ul>

</div>