<div class="create-account">
    <div class="creation_error" *ngIf="creation_error">
        There was a problem creating your account, please try again. <br>
        Details: {{error_message}}
    </div>
    <form role="form" (ngSubmit)="createAccount()" class="row">
        <div class="image_container">
            <img src="/assets/resources/icon_yellow.png" alt="Yopstack" class="avatar">
        </div>
        <p>
          Welcome at yopstack ! <br>
          Just fill the form below and you'll done ! 
        </p>
        <div class="container">
            <!-- <label for="email">Email</label> <div class="check_status" *ngIf="email_valid"> ✓ </div>
            <input type="email" class="form-control" id="username" name="username" [(ngModel)]="credentials.email" autofocus/>
             -->
            
            <label for="username">Username</label>  <div class="check_status" [ngClass]="{ok: usernameAvailable, not_ok: !usernameAvailable}"></div>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credentials.username" autofocus/>
            
            <label for="password">Password</label>  <div class="check_status" *ngIf="password_valid"> ✓ </div>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password"/>

            <label for="password">Confirm your password</label>  <div class="check_status" *ngIf="password_valid"> ✓ </div>
            <input type="password" class="form-control" id="password2" name="password2" [(ngModel)]="password2" autofocus/>


            <button type="submit" class="btn btn-primary" [disabled]=!credentials.username>Create</button>
            <div class="create">or <a routerLink="/login">go to login page</a></div>
        </div>
    </form>
</div>