
.image_container {
  text-align: center;
  margin: 0 10px 0 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  margin: auto;
  max-width: 220px;
}

p {
  text-align: center;
}

.container > input[type=text], 
.container > input[type=password],
.container > input[type=email] {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.container > button {
    background-color: #eccb24;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container > .check_status {
  color: green;
  font-size: 15pt;
  display: inline;
}

.check_status.ok:after {
  content : "✓";
  color: #2b6829;
}

.check_status.not_ok:after {
  content : "x";
  color: #ff8181;
}

.creation_error {
  background-color: #dd7070;
  text-align: center;
  color: white;
}