<div class="check_stack">
    <div class="background" (click)="abort()"></div>

    <div class="checkit">
      <div class="header">
        <div class="title">Your check...</div>
        <div class="close" (click)="abort()"></div>
      </div>
      <form>
        <textarea class="form-control" rows="3" 
        [(ngModel)]="editedCheck.comment" placeholder="describe your check..."
        [ngModelOptions]="{standalone: true}"> </textarea> 
        
        <div *ngIf="stackToBeChecked?.type == StackType.TIME" class="datepicker-container">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="choose a date" 
            [value]="check_date.value" [formControl]="check_date"
            (ngModelChange)="selectedDateChanged($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          Check status: 
          <app-yop-option-list [selected_value] = "newCheckStatus"
                               [optionlist]="availableCheckStatus" 
                               (onOptionSelected)="newCheckStatus=$event[0]">
          </app-yop-option-list>
        </div>

        <mat-form-field *ngIf="stackToBeChecked?.type == StackType.KANBAN">
          <mat-select placeholder="assignee " [(value)]=editedCheckUpdatedUserId>
            <mat-option *ngFor="let checker of checkers | keyvalue " [value]="checker.key">
              {{ checker.value.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
          
        <input type="submit" class="btn btn-primary"  (click)='checkit()' value="go!"/>
      </form>

</div>
