
.image_container {
  text-align: center;
  margin: 0 10px 0 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  margin: auto;
  max-width: 220px;
}

.container > input[type=text], 
.container > input[type=password] {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.container > button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login_error {
  background-color: #dd7070;
  text-align: center;
  color: white;
}

.login_message {
  background-color: #6eb96e;
  text-align: center;
  color: white;
}