<app-navbar></app-navbar> 

<div class="login">
    <div class="login_error" *ngIf="loginError">
        There was a problem logging in. Please try again.
    </div>
    <div class="login_message" *ngIf="loginMessage">
        {{message}}
    </div>
    <form role="form" (ngSubmit)="login()" class="row">
        <div class="image_container">
            <img src="/assets/resources/icon_grey.png" alt="Yopstack" class="avatar">
        </div>
        <div class="container">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credentials.username" autofocus/>
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password"/>
            <button type="submit" class="btn btn-primary" [disabled]=!credentials.username>login</button>
            <div class="create">or <a routerLink="/create-account">create an account</a></div>
        </div>
    </form>
</div>