
<div class="select" (click)="show_option_list()" tabindex="0">
  
  <!-- This container will be used to display the current value of the widget -->
  <span class="value">{{selected_value}}</span>
  
  <!-- This container will contain all the options available for our widget.
       Because it's a list, it makes sense to use the ul element. -->
  <ul class="optList"  [ngClass]="{hidden: !show_list}">
    <!-- Each option only contains the value to be displayed, we'll see later
         how to handle the real value that will be sent with the form data -->
    <li class="option" *ngFor="let sort_option of optionlist" 
        (click)="option_selected(sort_option);$event.stopPropagation()">{{sort_option}}</li>
  </ul>
</div> <!-- class="select" -->
