<div>
  <div class="stack_update" *ngIf="edition">
   <form class="form">
    <div class="form_line">
      <label for="title">title</label>
      <textarea class="form-control" rows="1" [(ngModel)]="name_update" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="form_line">
      <label for="description">Description</label>
      <textarea class="form-control" rows="3" [(ngModel)]="desc_update" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="form_line">
      <label for="description">Private</label>
      <input type="checkbox" class="form-control" [(ngModel)]="private_update" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div class="form_line" *ngIf="stack.isShared">
      <label for="description">Shared -- not yet implemented...</label>
      <input type="checkbox" class="form-control" [(ngModel)]="stack.isShared" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div class="form_line">
      <label for="description">Stack status</label>
      <!-- <input type="checkbox" class="form-control" [(ngModel)]="private_update" [ngModelOptions]="{standalone: true}"/> -->
      <app-yop-option-list [optionlist]="global.keys(stackStatus)" 
      selected_value={{stackStatus[stack.status]}}
      (onOptionSelected)="change_status($event[0])"></app-yop-option-list>
    </div>
    <div class="form_line">
      <app-user-picker
        [currentUserId]="stack_userid"
        [usersToAdd]="checkers"
        (onSelectionChanged)="onCheckersChange($event)">
      </app-user-picker>
    </div>
    <div class="form_line">
      <button type="button" class="btn btn-primary" (click)="edition_end()">ok</button>
      <button type="button" class="btn btn-primary" (click)="cancel()">cancel</button>
    </div>
  </form>
</div>

<div class="background" *ngIf="deletion" (click)="deletion = false"></div>
<div class="stack_confirm_delete" *ngIf="deletion">
  You are about to delete the stack: <span>'{{stack.name}}'</span>
  <div class="control">
    <a href="javascript:" (click)="deletion = false"> cancel </a>
    <a href="javascript:" (click)="delete_stack()"> confirm </a>
  </div>
</div>
</div>