

.stack_confirm_delete {
  position: absolute;
  background-color: #9b9696;
  padding: 15px;

  top: 200px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;


  -webkit-border-radius: 2px;
  -moz-border-radius:    2px;
  border-radius:         2px;
  border: solid #843737 5px;
}


.stack_confirm_delete > input {
  padding: 10px;
  height: 100%;
  border: none;
}

.stack_confirm_delete .control {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.stack_confirm_delete .control > a {
    border: solid #d7d7d7 0.5px;
    padding: 5px;
    background-color: #c6c6c6;
}
.stack_confirm_delete .control > a:hover {
  background-color: #bbb1b1;
}

/*Stack update formular*/
.stack_update > .form {
  display: flex;
  flex-direction: column;
}

.stack_update > .form > .form_line {
  display: flex;
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: block;
  background-color: rgba(0,0,0,0.5);
}

