
<div class="stack_check_container">
    <app-navbar></app-navbar> 
    <div class="stack_check_header">
        <div *ngIf="!edition" [ngClass]="{private: displayed_stack?.isPrivate}" 
        (mouseenter)="edit_visible = true" 
        (mouseleave)="edit_visible = false">
            <div class="stack_type" [ngClass]="{ time:   displayed_stack?.type  == StackType.TIME, 
            shared: displayed_stack?.type  == StackType.SHARED, 
            notes:  displayed_stack?.type  == StackType.NOTES,
            kanban: displayed_stack?.type  == StackType.KANBAN }">                                     
            </div>
            <div class="stack_title">{{displayed_stack?.name}}</div>
            <div *ngIf="displayed_stack?.type==StackType.TIME"  
            class="stack_check_status" [ngClass]="{checked: current_period_checked}">                 </div>
            <div class="stack_edit" *ngIf="edit_visible && isOwner" (click)="toggle_edition()">edit  </div>
            <div class="stack_edit" *ngIf="edit_visible && isOwner" (click)="toggle_delete()" >delete</div>
            <div class="stack_description">{{displayed_stack?.description}}</div>
            <div class="stack_details">
                <div class="stack_owner" *ngIf="!displayed_stack?.isShared">{{stack_owner?.name}}</div>
                <div class="stack_checkers" *ngIf="displayed_stack?.isShared">
                    <div class="name" *ngFor="let item of checkers | keyvalue">
                        <app-avatar [user]="item.value"></app-avatar>
                    </div>
                </div>
            </div> 
            <div *ngIf="displayed_stack?.type==StackType.TIME">
                <div  class="stack_period">To be checked {{displayed_stack?.frequency}} times every {{displayed_stack?.periodicity}} days...</div>
                <div class="stack_clock">
                    Next check period 
                    {{next_period_check_start_date | date:'yyyy-MM-dd HH:mm'}} <->  
                    {{next_period_check_end_date   | date:'yyyy-MM-dd HH:mm'}}

                    <br>Last check OK: {{displayed_stack?.last_check | date:'yyyy-MM-dd HH:mm'}}
                    <br>Last check PLANNED: {{displayed_stack?.last_planned_check | date:'yyyy-MM-dd HH:mm'}}
                </div>
            </div>
        </div>
        <app-edit-stack [edition]="edition"
            [deletion]="deletion" 
            [stack_userid]="user_id" 
            [stack]="displayed_stack" 
            [checkers]="checkers"
            [isEditable]="isOwner"
            (onStackEditionCompleted)="OnStackEditionCompleted()">
        </app-edit-stack>
    </div>


    <div class="stack_check_body">
        <app-list-check *ngIf="list_active"
        [stack_userid]="user_id"
        [displayed_stack]="displayed_stack"
        [new_check]="new_check"
        [isOwner]="isOwner"
        [isChecker]="isChecker"
        [checks]="checks"
        [comments]="comments"
        (onStackChecked)="onCheckCompleted($event[0])"
        (moreCheckRequested)="onMoreCheckRequested($event[0])"
        (moreCommentRequested)="onMoreCommentRequested($event[0])">
        </app-list-check>

        <div>
            <app-stats *ngIf="stats_active"
             [checks]="checks">
            </app-stats>
        </div>

        <div>
            <app-kanban *ngIf    = "kanban_active"
                [displayedStack] = "displayed_stack"
                [checks]         = "checks"
                [checkers]       = "checkers"
                (onCheckUpdated) = "onCheckCompleted($event[0])">
            </app-kanban>
        </div>

    </div>


<app-check-stack class="stackComponent" *ngIf="checkActive"
    [stackToBeChecked] = "displayed_stack"
    [checkToBeUpdated] = ""
    [checkDate]        = "newCheckDefaultDate"
    (onStackChecked)   = "onCheckCompleted($event[0])"
    (onCheckAborted)   = "onCheckAborted($event[0])">
</app-check-stack>

<app-preference-stack class="stackComponent" *ngIf="preferenceActive"
    [stackPreference]  = "stackPreference"
    [stackType]        = "displayed_stack?.type"
    (onPreferenceUpdateCompleted) = "onPreferenceUpdateCompleted($event[0])" >
</app-preference-stack>

<app-contextual-footer
    [actionOrder]   = getActionOrder(displayed_stack)>
</app-contextual-footer>

