
/* stack header */ 

.stack_type {
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.stack_type.time {
    background-image: url("/assets/resources/ic_timer_black_24dp/web/ic_timer_black_24dp_1x.png");
}

.stack_type.notes {
    background-image: url("/assets/resources/ic_speaker_notes_black_24dp/web/ic_speaker_notes_black_24dp_1x.png");
}

.stack_type.shared {
    background-image: url("/assets/resources/ic_group_black_24dp/web/ic_group_black_24dp_1x.png");
}


.stack_type.kanban {
    background-image: url("/assets/resources/baseline_calendar_view_week_black_24dp/baseline_calendar_view_week_black_24dp.png");
}


.stack_title {
  font-size: 30px;
  display: inline;
}

.stack_edit {
  display: inline;
}


.stack_check_status {
  background-image: url("/assets/resources/ic_done_black_24dp/web/ic_done_black_24dp_1x.png");
  background-repeat: no-repeat;
  display: inline-block;
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */

  padding-top: 20px;
  width: 25px;
}

.stack_check_status.checked {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.stack_description {
  padding-left: 15px;
  border-left: 3px solid black;
  margin-left: 5px
}

.private {
  background-image: url("/assets/resources/ic_lock_outline_black_24dp/web/ic_lock_outline_black_24dp_1x.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 1px;
}
/* end - header */


.stack_check_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  /*border: 10px solid goldenrod;*/
}

/*
.stack_check_container > * {
  flex: 1 1 auto;
}
*/

.stack_check_header {
  background-color: #EDDA97;
  /*height: 30px;*/
}

.stack_check_body {
  overflow-y: auto;
  /*border: 1px solid black;*/
  flex: 3 3 auto;
  /*flex-basis: 1000px;*/
}

.action-button{

  border: none;
  background-color: green;
  flex: 1;
}

.check-button {
  flex: 2;
}

.stack_details {
  display: inline-block;
}

.stack_owner {
  background-image: url("/assets/resources/ic_perm_identity_black_24dp/web/ic_perm_identity_black_24dp_1x.png");
  background-repeat: no-repeat;
  display: block;
  padding-top: 10px;
  padding-left: 25px;
  width: 25px;
  font-size: 8pt;
}

.stack_checkers {
  background-image: url("/assets/resources/ic_group_black_24dp/web/ic_group_black_24dp_1x.png");
  background-repeat: no-repeat;
  display: flex;
  padding-top: 10px;
  padding-left: 25px;
  width: 25px;
  font-size: 8pt;
}

.stack_checkers .name {
  padding-right: 3px;
}


.stack_clock {
  background-image: url("/assets/resources/ic_alarm_black_24dp/web/ic_alarm_black_24dp_1x.png");
  background-repeat: no-repeat;
  display: block;
  padding-top: 10px;
  padding-left: 25px;
  width: 25px;
  font-size: 8pt;
  width: auto;
}

.stack_period {
  background-image: url("/assets/resources/ic_event_black_24dp/web/ic_event_black_24dp_1x.png");
  background-repeat: no-repeat;
  display: block;
  padding-top: 10px;
  padding-left: 25px;
  width: 25px;
  font-size: 8pt;
  width: auto;
}
