<div bottom>
  <div class="footer stack_context" *ngIf="context == 'stack_context' || context == 'stack_context_readonly' ">
      <!--<div class="item action_list" [ngClass]="{active: currentAction == 'action_list'}"
           (click)="changeAction('action_list')">
      </div>
      <div class="item action_stats" [ngClass]="{active: currentAction == 'action_stats'}"
           (click)="changeAction('action_stats')">
      </div>
      <div class="item action_kanban" *ngIf="kanbanEnabled" [ngClass]="{active: currentAction == 'action_kanban' }"
          (click)="changeAction('action_kanban')">
      </div>

      <div class="item action_preference" [ngClass]="{active: currentAction == 'stack_preference'}"
           (click)="changeAction('stack_preference')">
      </div>

      <div class="item action_check" [ngClass]="{active: currentAction == 'action_check'}"
           *ngIf="context == 'stack_context'" (click)="changeAction('action_check')">
      </div> -->
      
        <div *ngFor="let action of actionOrder"
          class="item" [ngClass]="action"
          (click)="changeAction(action)">
        </div>
    </div>


  <div class="footer dashboard_context" *ngIf="context == 'dashboard_context'">
      <div class="footer_item pref-button">
        <a routerLink="/user">
          <img src="/assets/resources/ic_group_black_24dp/web/ic_group_black_24dp_1x.png"/>
          find users
        </a>
      </div>
  </div>

</div>
