
.stack_context {
  display: flex;
  justify-content: space-around;
  background-color: #edda97;
  height: 42px;
}

.footer.stack_context {
  /*border: 10px solid green;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*height: 30px;*/
}


.footer > .item {
  background-color: #EDDA97;
  color: black;
  text-align: center;
  flex:1 1 auto;
  height: 100%;
}


.footer > .item:hover,
.footer > .item.active {
  background-color: #ecc057;
  cursor: pointer;
}

.action_list      {
  background-image: url("/assets/resources/baseline-list-black-24/1x/baseline_list_black_24dp.png");
  background-repeat: no-repeat;
  background-position: center;
}

.action_stats     {
  background-image: url("/assets/resources/ic_timeline_black_24dp/web/ic_timeline_black_24dp_1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.action_kanban     {
  background-image: url("/assets/resources/baseline_calendar_view_week_black_24dp/baseline_calendar_view_week_black_24dp.png");
  background-repeat: no-repeat;
  background-position: center;
}

.action_preference {
  background-image: url("/assets/resources/ic_settings_black_24dp/web/ic_settings_black_24dp_1x.png" );
  background-repeat: no-repeat;
  background-position: center;
}

.action_check     {
  background-image: url("/assets/resources/baseline-send-black-24/1x/baseline_send_black_24dp.png");
  background-repeat: no-repeat;
  background-position: center;
}


