html,
body {
  height: 100%;
  background-color: #b0b0b6 !important;

  /* The html and body elements cannot have any padding or margin. */
}
  

.main_container {
  max-width: 900px;
  min-width: 300px;
  margin-left:  auto;
  margin-right: auto;
  width: auto;
  height: 100vh;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;

  background-color: #eceae1;

  -webkit-box-shadow: 0 0px 10px -1px #777;
  -moz-box-shadow:    0 0px 10px -1px #777;
  box-shadow:         0 0px 10px -1px #777;
}


:host >>> a {
  text-decoration: none;
  color: black;
}
