<p>Add participant: </p>
<input name="share_with_users" [(ngModel)]="usernameLike"/>
<button type="button" class="btn btn-primary finalize"  
        (click)='searchUsernameLike()'>search user</button>  

<div>
    Matching users:
    <span *ngFor="let userId of userLikeResult.keys()" 
          (click)='addToSelectedUsers(userId, userLikeResult.get(userId).name)'>
    {{userLikeResult.get(userId).name}} +
    </span>
</div>
<p> Select participant </p>
<div>
    <span *ngFor="let userId of usersToAdd?.keys()"
          (click)='removefromSelectedUsers(userId)'> 
    {{usersToAdd.get(userId).name}} X</span>
</div>
