<div class="datepicker-container">
<!--   <md-datepicker #picker></md-datepicker>
  <md-input-container>
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()"> -->
    <!-- <button mdSuffix [mdDatepickerToggle]="picker"></button> -->
<!--  </md-input-container> -->

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

</div>