
<div class="user_search">
    <a href="javascript:" (click)="toggleSearchUser()" *ngIf="identified_user">search user</a>
    <div class="search" *ngIf="!identified_user">
        <form role="form-inline">
            <div class="form-group">
                <label for="name">Search user:</label>
                <input class="form-control" [(ngModel)]="inputName" autofocus [ngModelOptions]="{standalone: true}"/>
            </div>
            <button type="submit" class="btn btn-default" (click)='search_user(inputName)'>List stacks</button>
        </form>
    </div>
</div> 
<span class="alert alert-danger" *ngIf="error_message">{{error_message}}</span>

<div class="search_user" *ngIf="identified_user">
    <app-dashboard [displayed_user]="identified_user"></app-dashboard>
</div>