.user_profile {
  margin-left: 5px;
  margin-right: 5px;
}

.user_profile h3 {
  margin-left: 20px;
}

.container {
  padding: 10px;
}

.container > label {
  display:inline-block; 
}

.container > input[type=text], 
.container > input[type=password] {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.container > button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.error_message,
.error_password_mismatch {
  background-color: #dd7070;
  text-align: center;
  color: white;
}

.success_message {
  background-color: #69a56e;
  text-align: center;
  color: white;
}


.user_profile ul {
  padding-left:0;
}

.collapsible_list li > label {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.collapsible_list li {
  list-style: none;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  background: #e1e1e14d;
  opacity: 0.8;
}

.collapsible_list li:nth-child(odd) { 
  background: #c2c2c280;
  opacity: 0.8;
}

.collapsible_list li:hover {
  opacity: 1;
}

/* CSS only collapsible list*/
.collapsible_list li > label:hover {
  text-decoration: underline; 
}

.collapsible_list li > input {
  visibility: hidden;
}

.collapsible_list li > input + * {
 display: none;
}

.collapsible_list li > input:checked + * {
  display: block;
}

