<app-navbar></app-navbar> 
<div class="user_profile" *ngIf="globalService.identified_user">
    <div [ngClass]="{error_message: !update_status_success, success_message: update_status_success }"
         *ngIf="update_status_text">
        {{update_status_text}}
    </div>
    <h3> {{globalService?.authenticatedUser.name}}'s profile </h3>

    <ul class="collapsible_list">
    <li>
        <label for="password">Password change</label>
        <input type="checkbox" id="password"/>

        <form role="form" (ngSubmit)="update_password()" class="row">
            <div class="container">
                <label for="old">Current password</label>
                <input type="password" class="form-control" id="old_password" name="old_password" 
                [(ngModel)]="old_password" /> <!-- (change)="onPasswordFormChange($event)"/>-->
                <label for="new_password">New password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" 
                [(ngModel)]="new_password"/> <!-- (change)="onPasswordFormChange($event)"/>-->
                <label for="new_password">Confirm new password</label>
                <input type="password" class="form-control" id="new_password_again" name="new_password" 
                [(ngModel)]="confirm_new_password" (change)="onPasswordFormChange($event)"/>
                <span *ngIf="password_mismatch_error" [ngClass]="{ error_password_mismatch: password_mismatch_error}" >
                The 2 passwords are not identical... </span>

                <button type="submit" class="btn btn-primary" ng-disabled="!new_password">update</button>
            </div>
        </form>
    </li>

    <li>
        <label for="avatar">Avatar</label>
        <input type="checkbox" id="avatar"/>

        <form role="form" (ngSubmit)="updateAvatarColor()" class="row">
            <div class="container"> 
                <label for="newAvatar">Avatar background color: </label>
                <input type="color" class="form-control" id="newAvatarColor" name="newAvatarColor" [(ngModel)]="newAvatarColor" />

                <button type="submit" class="btn btn-primary" ng-disabled="!newAvatarColor">update</button>
            </div>
        </form>
    </li>
    <li>
        <label for="timezone">Timezone selection</label>
        <input type="checkbox" id="timezone"/>

        <div class="alert alert-danger" *ngIf="timezone_update_error">
            There was a problem changing the timezone. Please try again.
        </div>
        <span> Timezone selection... </span>
    </li>
    <li>
        <label for="pref">Global preferences</label>
        <input type="checkbox" id="pref"/>
        <p> ... </p>
    </li>
    </ul>
</div>