<div class="dashboard_view">
  <app-navbar></app-navbar> 

  <div class="user_stack" *ngIf="global.identified_user">
    <div class="header">
      <div class="title"> {{global.identified_user.name}}'s stacks</div>
      <div class="control">

          <form role="form" class="row" (keyup)="match_stack_name(searched)" >
              <div class="container">
                  <!-- <label for="old">Current password</label> -->
                  <input type="text" class="form-control" id="search" name="search" 
                  [(ngModel)]="searched" />

                  <!-- <button type="submit" class="btn btn-primary" ng-disabled="!search">search !</button> -->
              </div>
          </form>


        <app-yop-option-list [optionlist]="global.keys(stackStatus)" 
              selected_value={{stackStatus[default_status_filter]}}
              (onOptionSelected)="change_status($event[0])">
        </app-yop-option-list>

        <app-yop-option-list [optionlist]="global.keys(stackSorting)" 
              selected_value={{stackSorting[selected_sort]}}
              (onOptionSelected)="change_sorting($event[0])">
        </app-yop-option-list>

        <div class="sort" [ngClass]="{revert: rising_sort,
                                      orig:  !rising_sort }" 
                          (click)="change_sort_direction()"></div>

      </div> <!-- class="control" -->
  </div> <!-- class="header" -->

  <!-- -->


      <img id="mySpinner" src="assets/resources/loading18.gif" *ngIf="is_loading"/>
      <div class="dashboard_list_stack" >

          <div class="dashboard_stack_link" *ngFor="let stack of sorted_stacks | nameMatch">
              <a href="javascript:" (click)="onSelect(displayed_user, stack)"  *ngIf="stack.match">
                  <div class="dashboard_stack">
                      <div class="stack_header" 
                       [ngClass]="{ 
                         private :  stack.isPrivate,
                         shared: stack.isShared,
                         stack_late: stack.is_late && stack.type == stackType.TIME, 
                         stack_fresh: !stack.is_late || stack.type != stackType.TIME}" >
                          <span class="stack_type"
                          [ngClass]="{ time:    stack.type  == stackType.TIME,  
                                       notes:   stack.type  == stackType.NOTES,
                                       kanban:  stack.type  == stackType.KANBAN }"></span>                
                          <H4> {{stack.name}} </H4>
                      </div>
                      <div class="dashboard_stack_desc">
                          {{stack.description}}
                      </div>
                      <div class="dashboard_stack_status"
                      [ngClass]="{
                         stack_late: stack.is_late && stack.type == stackType.TIME, 
                         stack_fresh: !stack.is_late || stack.type != stackType.TIME}">
                          <div class="dashboard_stack_highscore">{{stack.checkCount?.ok}}</div>
                          <div class="dashboard_stack_score">{{stack.checkCount?.total}}</div>
                          <div class="dashboard_stack_badge">badge</div>
                      </div>
                  </div>
              </a>
          </div>
          <app-create-stack 
           *ngIf="is_owner"
           class="dashboard_stack_link dashboard_stack"
           [user_id]="displayed_user.id" 
           (onCreationCompleted)="on_creation_completed($event[0])">
           </app-create-stack>
      </div>
  </div>
  <app-contextual-footer></app-contextual-footer>
</div>
