.dashboard_view {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.user_stack {
  flex: 1 1 0%;
  overflow-y: auto;
}

.dashboard_list_stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard_stack_link {
  width: 195px;
  margin: 15px;
}

.dashboard_stack_link > a,
.dashboard_stack_link > a:link,
.dashboard_stack_link > a:hover {
  color: black;
  text-decoration: none;
}

.dashboard_stack {
  height: 120px;
  position: relative;
  color: black;
  overflow: hidden;

  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius:    3px 3px 0 0;
  border-radius:         3px 3px 0 0;
  background-color: #f6f1ba;

  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow:    0 10px 6px -6px #777;
  box-shadow:         0 10px 6px -6px #777;

}

.dashboard_stack:hover {

  -webkit-box-shadow: 0 10px 6px -6px #626262;
  box-shadow: 0 10px 6px -6px #626262;
}


.stack_header {
  display: flex;
  text-align: center;

  border: 1px solid #c9dccf;
  border-radius: 3px 3px 0 0;
}

.stack_header > h4 {
  margin: 0px;
}

/* to be moved outside of dashboard.css if used also for stack view */
.dashboard_stack > .private, 
.private {
  background-image: url("/assets/resources/ic_lock_outline_black_24dp/web/ic_lock_outline_black_24dp_1x.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 1px;
}


.dashboard_stack > .shared,
.shared {
    background-image: url("/assets/resources/ic_group_black_24dp/web/ic_group_black_24dp_1x.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 1px;
}

.dashboard_stack_desc {
  overflow: none;
  padding: 3px;
}

.dashboard_stack_status{
  text-align: center;
  background-color: grey;
  position: absolute;
  bottom: 0px;
  width: 100%;

}

.dashboard_stack_highscore{
  position: relative;
  float: left;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.2);
}


.dashboard_stack_badge{
  position: relative;
  float: left;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.2);
}

.dashboard_stack_score{
  position: relative;
  float: left;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.2);
}

.stack_fresh {
  background-color: #B9FFA3;
}
.stack_ok {
  background-color: #F0EE9E;
}

.stack_late {
  background-color: #FFAF8F;
}

.stack_type {
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.stack_type.time {
    background-image: url("/assets/resources/ic_timer_black_24dp/web/ic_timer_black_24dp_1x.png");
}

.stack_type.notes {
    background-image: url("/assets/resources/ic_speaker_notes_black_24dp/web/ic_speaker_notes_black_24dp_1x.png");
}

.stack_type.kanban {
  background-image: url("/assets/resources/baseline_calendar_view_week_black_24dp/baseline_calendar_view_week_black_24dp.png");
}



/**
 * Header 
 */
.header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 17pt;
}

.header > .control {
  display: flex;
}

.header > .control > .sort {
  width: 24px;
  height: 24px;
  background-image: url("/assets/resources/ic_sort_black_24dp/web/ic_sort_black_24dp_1x.png");
}

.header > .control > .sort.orig {
}
.header > .control > .sort.revert {
  transform: scaleY(-1);
}



/* custom select experiment */
.select {
  /* This will create a positioning context for the list of options */
  position: relative;
 
  /* This will make our widget become part of the text flow and sizable at the same time */
  display : inline-block;

  /* All sizes will be expressed with the em value for accessibility reasons
     (to make sure the widget remains resizable if the user uses the  
     browser's zoom in a text-only mode). The computations are made
     assuming 1em == 16px which is the default value in most browsers.
     If you are lost with px to em conversion, try http://riddle.pl/emcalc/ */
  font-size   : 0.625em; /* this (10px) is the new font size context for em value in this context */
  font-family : Verdana, Arial, sans-serif;

  -moz-box-sizing : border-box;
  box-sizing : border-box;

  /* We need extra room for the down arrow we will add */
  padding : .1em 2.5em .2em .5em; /* 1px 25px 2px 5px */
  /*width   : 10em;*/ /* 100px */

  /*border        : .1em solid #000; */ /* 2px */
  /*border-radius : .4em;*/ /* 4px */
 /* box-shadow    : 0 .1em .1em rgba(0,0,0,.45); */ /* 0 1px 2px */
  
  /* The first declaration is for browsers that do not support linear gradients.
     The second declaration is because WebKit based browsers haven't unprefixed it yet.
     If you want to support legacy browsers, try http://www.colorzilla.com/gradient-editor/ */
  /*background : #F0F0F0;
  background : -webkit-linear-gradient(90deg, #E3E3E3, #fcfcfc 50%, #f0f0f0);
  background : linear-gradient(0deg, #E3E3E3, #fcfcfc 50%, #f0f0f0);*/
}

.select .value {
  /* Because the value can be wider than our widget, we have to make sure it will not
     change the widget's width */
  display  : inline-block;
  width    : 100%;
  overflow : hidden;

  vertical-align: middle;
  vertical-align: -moz-middle-with-baseline;

  /* And if the content overflows, it's better to have a nice ellipsis. */
  white-space  : nowrap;
  text-overflow: ellipsis;
}

.select.active,
.select:focus {
  outline: none;
 
  /* This box-shadow property is not exactly required, however it's so important to be sure
     the active state is visible that we use it as a default value, feel free to override it. */
  /*box-shadow: 0 0 3px 1px #222222;*/
  background-color: #b2bdaa;
}

/* The .select selector here is syntactic sugar to be sure the classes we define are
   the ones inside our widget. */
.select .optList {
  /* This will make sure our list of options will be displayed below the value
     and out of the HTML flow */
  position : absolute;
  top      : 100%;
  left     : 0;
}

.select .optList.hidden {
  /* This is a simple way to hide the list in an accessible way, 
     we will talk more about accessibility in the end */
  max-height: 0;
  visibility: hidden;
}

.select:after {
  content : "▼"; /* We use the unicode caracter U+25BC; see http://www.utf8-chartable.de */
  position: absolute;
  z-index : 1; /* This will be important to keep the arrow from overlapping the list of options */
  top     : 0;
  right   : 0;

  -moz-box-sizing : border-box;
  box-sizing : border-box;

  height  : 100%;
  width   : 2em;  /* 20px */
  padding-top : .1em; /* 1px */

  /*border-left  : .2em solid #000;*/ /* 2px */
  /*border-radius: 0 .1em .1em 0;*/  /* 0 1px 1px 0 */

  /*background-color : #FFF;*/
  color : #000;
  text-align : center;
}

.select .optList {
  z-index : 2; /* We explicitly said the list of options will always overlap the down arrow */

  /* this will reset the default style of the ul element */
  list-style: none;
  margin : 0;
  padding: 0;

  /*-moz-box-sizing : border-box;
  box-sizing : border-box;*/

  /* This will ensure that even if the values are smaller than the widget,
     the list of options will be as large as the widget itself */
  min-width : 100%;

  /* In case the list is too long, its content will overflow vertically 
     (which will add a vertical scrollbar automatically) but never horizontally 
     (because we haven't set a width, the list will adjust its width automatically. 
     If it can't, the content will be truncated) */
  max-height: 10em; /* 100px */
  overflow-y: auto;
  overflow-x: hidden;

  /*border: .2em solid #000;*/ /* 2px */
  /*border-top-width : .1em;*/ /* 1px */
  /*border-radius: 0 0 .4em .4em;*/ /* 0 0 4px 4px */

  /*box-shadow: 0 .2em .4em rgba(0,0,0,.4);*/ /* 0 2px 4px */
  background: #f0f0f0;
}

.select .option {
  padding: .2em .3em; /* 2px 3px */
}

.select .highlight {
  background: #000;
  color: #FFFFFF;
}

/****/
/** Search bar */
 input[type=text] {
  display: inline-block;
  width: 100px;
  transition: width 0.5s;
  padding: 5px 5px;
  margin: 2px 0;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

  background-image: url("/assets/resources/baseline-search-black-18/1x/baseline_search_black_18dp.png");
  background-position: right;
  background-repeat: no-repeat;
}

input[type=text]:focus {
  width: 200px;
  max-width: 100%;
  transition: width 0.5s;
  background-image: url();
}


/****/ 