.stack_check {
  background-color: #AAED9C;
  border-radius: 2px;
  min-height: 30px;
  color: black;
  border: 1px solid #b0e3a6;
}
.stack_check:hover {
  opacity: 0.8;
}

.stack_check_content {
  background-color: #FFFBDA;
  padding-left: 10px;
  padding-right: 10px;
}

.stack_check_content .input {
  font-size: 8pt;
  resize: none;
  overflow: auto;
  height: 30px;
  width: 100px;
}

.check_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.check_header .date {
  font-size:8px;
  display:inline-block;
  float:left;
  max-width: 80px;
}
.check_header .title {
  flex: auto 2 2;
}

.check_header .comment_count {
  /*font-size:8px;*/
  display:inline-block;
  float:right;
  
  background-image: url("/assets/resources/ic_question_answer_black_24dp/web/ic_question_answer_black_24dp_1x.png");
  background-repeat: no-repeat;
  display: block;

  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */

  /*padding-top: 2px;*/
  padding-left: 7px;
  width: 25px;
  height: 30px;
  font-size: 8pt;
  color: white;
}

.time_left {
  background-image: url("/assets/resources/ic_timer_black_24dp/web/ic_timer_black_24dp_1x.png");
  background-repeat: no-repeat;
  display: block;
  padding-left: 18pt;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.overdue{
  color: black;  
}

.submit {
  background-image: url("/assets/resources/baseline-send-black-24/1x/baseline_send_black_24dp.png");
  background-repeat: no-repeat;
  display: block;
  height: 18pt;
  width: 18pt;
}

.ok:before {
  content : "✓";
  color: #2b6829;
  font-size: 22pt;
}

.failed:before {  
  content: "×";
  color: #ff8181;
  font-size: 22pt;
}

.check_header .comment_count.commented {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.commentit {
  display: flex;
  justify-content: space-between;
}

.commentit > textarea {
  width: 100% !important;
}

.check_comment {
  display: flex;
}
.check_comment .date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-right: 5px;
}

.check_comment .text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  flex: auto 2 2;
}

.check_comment .author {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-right: 5px;
}

.check_newcomment {
  display: flex;
}

:host >>> p {
  margin: 0;
}

.missed_check {
  color: #ff4800;
  background-color: #ffe3e3;
}

.missed_planned_check {
  color: #000;
  background-color: #f6fb66;
}

.future_check {
  color: #70728c;
  background-color: #ced0ef;
}


.edition_inactive > p {
  margin: 5px;
}

.check_header > .title {
  margin-left: 5px;
}

.delete_check {
  color: red;
  text-decoration: none;
  margin-left: 5px;
  
  background-image: url("/assets/resources/ic_delete_black_24dp/web/ic_delete_black_24dp_1x.png");
  background-repeat: no-repeat;
  display: block;

  width: 25px;
  height: 30px;

  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */

}


.delete_check:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}


/* editable text */
:host >>> .edition_inactive > a,
.edit_check {
  color: red;
  text-decoration: none;
  margin-left: 5px;

  float:right;
  
  background-image: url("/assets/resources/ic_mode_edit_black_24dp/web/ic_mode_edit_black_24dp_1x.png");
  background-repeat: no-repeat;
  display: block;

  width: 25px;
  height: 30px;

  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */

}

.edit_check:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}  


:host >>> .edition_active,
:host >>> textarea,
:host >>> .editable_text,
:host >>> .check_newcomment
{
  width: 100%;
}

/* removing the date picker fix size...*/
:host >>> .date_edition .mat-form-field-infix {
  width: 100%;
}

/* editable text */
:host >>> .edition_active > a.ok:after {
  content : "✓";
  color: #2b6829;
  font-size: 25pt;
}

:host >>> .edition_active > a.cancel:after {
  content : "×";
  font-size: 25pt;
  color: #ff8181;
  margin-left: 20pt;
}





/* experimental */
:host >>> li > .checked:before,
:host >>> p > .checked:before {
  text-decoration: none;
  width: 20px;
  height: 20px;

  content : "✓";
  color: #5dcc11;
  font-size: 28px;
  font-weight: bold;
  line-height: 0px;

  list-style-type: none;

}

:host >>> li > .empty:before,
:host >>> p > .empty:before {
  text-decoration: none;
  width: 20px;
  height: 20px;
  content : "×";  
  color: #ff8181;
  font-size: 28px;
  font-weight: bold;
  line-height: 0px;

  list-style-type: none;

}