
<div class="empty_stack" *ngIf="!checks">
    No check here ... <br> 
    It's time to get started !
</div>

<div class="stack_check" *ngFor="let check of checks"
     [ngClass]="{missed_planned_check : (check.status == 'PLANNED' && check.date < now && !check.isFrontOnly),
                 missed_check : ((check.status == 'FAILED')&& check.date < now),
                 future_check : (check.date > now)}">
    <div class="check_header" (click)="showCheckDetails(check.id)">
            <div class="date">
                <div *ngIf="current_check_date_edition!=check.id">{{check.date | date:'yyyy-MM-dd HH:mm'}} 
                </div>
                <div class="date_edition"  *ngIf="current_check_date_edition==check.id"> 
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="choose a date" 
                      [value]="check_date_edited.value" [formControl]="check_date_edited">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
        </div>

        <div class="title"><p [innerHTML]="check.formattedComment"></p></div>
        <!-- To be moved to the edition 
        <div class="delete_check" (click)="delete_check(check)">
            modal here or new Text in RED in check with yes no button
        </div> -->        
        
        <div class="time_left" *ngIf="!check.isFrontOnly && check.status == 'PLANNED' && check.date > now" >
            {{((check.date - now) / (24*60*60*1000)).toFixed(0)}} days left...
        </div>
        <div class="overdue time_left" *ngIf="!check.isFrontOnly && check.status == 'PLANNED' && check.date < now">
            Overdue !
        </div>
        <div class="status_mark" *ngIf="displayed_stack?.type == StackType.TIME">
          <div class="ok" *ngIf="!check.isFrontOnly && check.status == 'OK' && check.date < now">
          </div>
          <div class="failed" *ngIf="!check.isFrontOnly && check.status == 'FAILED' && check.date < now">
          </div>
        </div>
        
        <div class="edit_check"
             *ngIf="(isOwner || isChecker) && !check.isFrontOnly"
             (click)="$event.stopPropagation();editCheck(check)"></div>
        
        <div class="comment_count" *ngIf="!check.isFrontOnly"
             [ngClass]="{commented : comments[check.id]?.length > 0}">
            {{comments[check.id]?.length}}
        </div>

        <div class="submit" *ngIf="check.isFrontOnly && (isOwner || isChecker)" (click)="submitCheckFromMissedOrFuture(check)">
        </div>
    </div>
    <!-- check comment -->
    <div class="stack_check_content" *ngIf="displayedCheckId == check.id && !check.isFrontOnly" (click)="$event.stopPropagation()">
        <div class="commentit">
            <span>{{authenticated_user}}: </span>
            <textarea class="form-control input" rows="1" 
            [(ngModel)]="new_comment_text"
            (keyup.enter)='insertCommentToCheck(check.id, stack_userid, displayed_stack.id)'  
            placeholder="Leave a comment..."></textarea>
        </div>
         <!--  | orderBy: 'timestamp':true">  -->
        <div class="check_comment" *ngFor="let com of comments[check.id]">
            <div class="date">  {{com.timestamp | date:'yyyy-MM-dd HH:mm'}} </div>
            <div class="author">{{com.username}}</div>
            <app-edit-field class="check_newcomment" 
                            [formattedText]="com.text_formatted"
                            [editableText]="com.text" 
                            [isEditable]="authenticated_user == com.username" editLabel="" okLabel="" cancelLabel=""
                            (onEditionCompleted)="update_comment_text(com, $event[0])">
            </app-edit-field>
        </div>
        <div class="more_check_comments" *ngIf="comments[check.id]?.length==10">
            <a (click)="getMoreComment(check.id)">view older comments</a>
        </div> 
    </div> <!-- end of check comment -->
</div>
<img id="mySpinner" src="/assets/resources/loading18.gif" *ngIf="!checksLoaded"/>
<div class="more_check" *ngIf="areMoreChecksAvailable()">
    <a (click)="getMoreChecks()">view older checks</a>
</div>


<app-check-stack class="lol" *ngIf="checkActive"
                 [stackToBeChecked] = "displayed_stack"
                 [checkToBeUpdated] = "checkForUpdate"
                 [checkDate]        = "checkPeriodDate"
                 (onStackChecked)   = "OnCheckCompleted($event[0])"
                 (onCheckAborted)   = "OnCheckAborted($event[0])">
</app-check-stack>