/* You can add global styles to this file, and also import other style files */

/* style for angular material (date picker)*/
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* EDU */
body,
html {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* EDU end */
