
.background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-color: rgba(0,0,0,0.5);

}

.settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #9b9696;
  padding-right: 5px;
  padding-left: 5px;

  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 80%;


  -webkit-border-radius: 1px;
  -moz-border-radius:    1px;
  border-radius:         1px;
}

.settings .header {
  display: flex;
  justify-content: space-between;
}
.settings .header .title{
  text-align: left;
  margin-left: 4px;
  color: white; 
}

.settings .header .close:before {
    content: "×";
    float: right;
    cursor: pointer;
    color: #000;
    font-size: 28px;
    /*font-weight: bold;*/
    line-height: 0px;
    margin-top: 10px;
}


.settings input[type=submit] {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
