<div class="stack_preference">
  <div class="background" (click)="abort()"></div>

  <div class="settings">
    <div class="header">
      <div class="title">Stack preferences...</div>
      <div class="close" (click)="abort()"></div>
    </div>
    <form>
      <div class="time" *ngIf="stackType == StackType.TIME">
        <h4>Time stack settings</h4>
        <div class="form_line">
          <label for="description">Show missed periods</label>
          <input type="checkbox" class="form-control" [(ngModel)]="showMissedPeriods" [ngModelOptions]="{standalone: true}"/>
        </div>

        <div class="form_line">
          <label for="description">Show period in checks</label>
          <input type="checkbox" class="form-control" [(ngModel)]="showPeriodInCheck" [ngModelOptions]="{standalone: true}"/>
        </div>
      </div>

      <div class="markdown">
        <h4>Markdown formatting</h4>
        <div class="form_line">
          <label for="description">Enabled in checks</label>
          <input type="checkbox" class="form-control" [(ngModel)]="enableMarkdownInCheck" [ngModelOptions]="{standalone: true}"/>
        </div>
      
        <div class="form_line">
          <label for="description">Enabled in comments</label>
          <input type="checkbox" class="form-control" [(ngModel)]="enableMarkdownInComment" [ngModelOptions]="{standalone: true}"/>
        </div>
      </div>
      <input type="submit" class="btn btn-primary"  (click)='save()' value="go!"/>
    </form>

  </div>
</div>
