<div>
    <div class="user_stack create_stack_link" (click)="show_stack_creation_form = true"> 
        <div *ngIf="!show_stack_creation_form">
            <p id="create_stack_plus">+</p>
            <p id="create_stack_text">Add a new stack</p>
        </div>
        <div *ngIf="show_stack_creation_form">
            <p id="create_stack_plus">...</p>
        </div>
    </div>
    <div class="background" *ngIf="show_stack_creation_form" (click)="show_stack_creation_form = false; this.init_wizard();"></div>

    <form class="container" *ngIf="show_stack_creation_form">
        <div class="wizard_header">
            <div class="step_title">{{wizard_current_step}}</div>
            <div class="close_box"(click)="show_stack_creation_form = false; this.init_wizard();"></div>
        </div>

        <div class="wizard_step" *ngIf="wizard_current_step == 'Type selection'">
            <p>Pick one type of the use case below and check additional description.</p>

            <select name="type" class="right" [(ngModel)]="new_stack_type">
                <option value="0">I want to stay motivated over time.</option>
                <option value="1">I just want to take some notes.</option>
                <option value="3">Kanban experiment</option>
            </select>
            <p>{{some_description[new_stack_type]}}</p>
        </div>


        <div class="wizard_step" *ngIf="wizard_current_step == 'Name selection'">
            <label for="new_stack_name">Your stack name</label>
            <input name="new_stack_name" class="right" [(ngModel)]="new_stack_name" placeholder="Some cool name..." />
            <label for="stack_description">Your stack description</label>
            <textarea name="stack_description" class="right" [(ngModel)]="new_stack_desc" 
                      class="form-control" rows="3" placeholder="Some description... " ></textarea>
        </div>

        <div class="wizard_step" *ngIf="wizard_current_step == 'Time settings'">
            <label for="periodicity">periodicity</label>
            <input name="periodicity" class="right" type="number" min="1" max="10" [(ngModel)]="new_stack_periodicity"/>
            <label for="frequency">frequency</label>
            <input name="frequency" class="right" type="number" min="1" max="10" [(ngModel)]="new_stack_frequency"/> 
           To be checked {{new_stack_frequency}} times every {{new_stack_periodicity}} days.
        </div>

        <div class="wizard_step" *ngIf="wizard_current_step == 'Privacy selection'">

            <label for="type">This stack is</label>
            <select name="type" class="right"  [(ngModel)]="new_stack_privacy">
                <option value="0">private -> only for me</option>
                <option value="1">public  -> other user can see/comment</option>
                <option value="2">shared  -> a list of user can see/comment</option>
            </select>

            <div *ngIf="new_stack_privacy == 2">
                <app-user-picker
                    currentUserId={{user_id}}
                    [usersToAdd]=""
                    (onSelectionChanged)="shared_stack_selected_users = $event">
                </app-user-picker>
            </div>
        </div>

        <div class="navigation">
            <button type="button" class="btn btn-primary"
            *ngIf="wizard_previous != wizard_current_step"
            (click)='wizard_move_back()'>< back</button>

            <button type="button" class="btn btn-primary" 
            *ngIf="wizard_next != wizard_current_step"
            (click)='wizard_move_forward()'>next ></button>
            <button type="button" class="btn btn-primary finalize" 
            *ngIf="wizard_current_step == wizard_last" 
            (click)='post_stack()'>go !</button>

        </div>
        <!-- <button type="button" class="btn btn-primary cancel" (click)="show_stack_creation_form=!show_stack_creation_form">maybe later...</button> -->
    </form>
</div>