.create_stack_link {
  text-align: center;
  cursor: pointer;
}

.create_stack_link #create_stack_plus {
  font-size: 30pt;
  margin-top: 20px;
  margin-bottom: 20px;
}


.create_stack > .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form > .form_line {
  display:flex;
}

.form_line > label {
  flex:2;
  flex-basis: 120px;
}

.form_line > .right {
  flex: 1;
  flex-basis: 100px;
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: block;
  background-color: rgba(0,0,0,0.5);

}

.container {
  position: fixed;
  background-color: #9b9696;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);

  margin-right: 5px;
  margin-left:  5px;
  
  height: 250px;
  max-height: 250px;
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > .wizard_header {
  width: 100%;
  height: 40px;
  max-height: 40px;
  
  background-color: #4caf50;
  color: #fff;

  padding-top: 3px;
  padding-bottom: 3px;

  display: flex;
  justify-content: space-between;

}

.step_title {
  margin-left: 4px;
}

.close_box:before {
  content: "×";
  float: right;
  cursor:pointer;
  color: #575757;
  font-size: 28px;
  font-weight: bold;
  line-height: 0px;
  margin-top: 10px;
}

.container > .wizard_step {
  padding: 5px;
}

.wizard_step > input,
.wizard_step > textarea,
.wizard_step > select {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.container > input, 
.container > select {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container .navigation {
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
}

.container .navigation .btn {
    margin-bottom: 0px;
}

.container .navigation .finalize {
    border: 2px solid #91c857;
}

.container .cancel {
    background-color: #d87474;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
}

